.highlighted {
  height: 2.5rem;
  width: 2.5em;
  border: 2px solid var(--text);
  border-radius: 5px;
  background-size: cover;
  background-color: var(--primary);
}

.icon {
  height: 2.5rem;
  width: 2.5em;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  background-size: cover;
  background-color: var(--primary);
}

.turn {
  height: 2.5rem;
  width: 2.5em;
  border: 2px solid var(--accent);
  border-radius: 5px;
  background-size: cover;
  background-color: var(--accent);
}


@media only screen and (max-height: 430px) {
  .highlighted, .icon, .turn {
    height: 8vh;
    width: 8vh;
    margin-top: -1rem;
  }
}